<a href="https://colab.research.google.com/github/khagfy/literate-course/blob/master/Final_Test_(Mandatory).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Author: Zulaikha

# Import Pandas Library

In [ ]:
import pandas as pd

# Membaca Dataset

In [ ]:
df_dataset = pd.read_csv('/content/insurance.csv')

In [ ]:
df_dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
df_dataset[ (df_dataset['sex'] == 'female') & (df_dataset['smoker'] == 'yes') ]

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
23     34  female  31.920         1    yes  northeast  37701.87680
58     53  female  22.880         1    yes  southeast  23244.79020
64     20  female  22.420         0    yes  northwest  14711.74380
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[115 rows x 7 columns]

In [ ]:
df_dataset[ (df_dataset['sex'] == 'female') & (df_dataset['smoker'] == 'yes') ].mean().reset_index()

<ipython-input-5-bd0afc248644>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_dataset[ (df_dataset['sex'] == 'female') & (df_dataset['smoker'] == 'yes') ].mean().reset_index()

      index             0
0       age     38.608696
1       bmi     29.608261
2  children      1.008696
3   charges  30678.996276

In [ ]:
df_dataset[ (df_dataset['children'] == 1) & (df_dataset['age'] == 64) ]

     age     sex    bmi  children smoker     region      charges
62    64    male  24.70         1     no  northwest  30166.61817
328   64  female  33.80         1    yes  southwest  47928.03000
418   64    male  39.16         1     no  southeast  14418.28040

In [ ]:
df_dataset.groupby('region')['bmi'].mean().reset_index().sort_values('region',ascending='north')

      region        bmi
0  northeast  29.173503
1  northwest  29.199785
2  southeast  33.355989
3  southwest  30.596615

In [ ]:
df_dataset.groupby('bmi').count()

        age  sex  children  smoker  region  charges
bmi
15.960    1    1         1       1       1        1
16.815    2    2         2       2       2        2
17.195    1    1         1       1       1        1
17.290    3    3         3       3       3        3
17.385    1    1         1       1       1        1
...     ...  ...       ...     ...     ...      ...
48.070    1    1         1       1       1        1
49.060    1    1         1       1       1        1
50.380    1    1         1       1       1        1
52.580    1    1         1       1       1        1
53.130    1    1         1       1       1        1

[548 rows x 6 columns]

In [ ]:
df_dataset[ (df_dataset['sex'] == 'male') & (df_dataset['smoker'] == 'yes') & (df_dataset['age'] > 50) ].mean().reset_index()

<ipython-input-9-df195a823299>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_dataset[ (df_dataset['sex'] == 'male') & (df_dataset['smoker'] == 'yes') & (df_dataset['age'] > 50) ].mean().reset_index()

      index             0
0       age     57.189189
1       bmi     32.190405
2  children      1.135135
3   charges  39604.595696

In [ ]:
df_dataset[ (df_dataset['sex'] == 'male') & (df_dataset['smoker'] == 'yes') & (df_dataset['age'] > 50) ].count().reset_index()

      index   0
0       age  37
1       sex  37
2       bmi  37
3  children  37
4    smoker  37
5    region  37
6   charges  37

In [ ]:
df_dataset.groupby('sex')['bmi'].mean().reset_index().sort_values('sex',ascending='male')

      sex        bmi
0  female  30.377749
1    male  30.943129

In [ ]:
df_dataset.groupby('smoker')['bmi'].mean().reset_index().sort_values('smoker',ascending='yes')

  smoker        bmi
0     no  30.651795
1    yes  30.708449